<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cửa Hàng Mỹ Phẩm</title>
    <link rel="icon" th:href="@{/img/logo.png}">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body class="bg-gray-50 text-gray-800">
<div class="bg-white border-gray-200 dark:bg-gray-900 w-full p-4 h-16" th:fragment="header"></div>
<div th:fragment="header">
    <nav class="bg-white shadow-md fixed top-0 left-0 w-full z-50">
        <div class="px-6 py-3 flex items-right">

            <div class="ml-auto relative">

                <button id="userMenuBtn"
                        class="flex items-center justify-center w-11 h-11 rounded-full
                               bg-gray-100 text-gray-600
                               hover:bg-gray-200 hover:shadow-md
                               transition duration-200">
                    <i class="fa-solid fa-user text-lg"></i>
                </button>

                <!-- Dropdown -->
                <div id="userDropdown"
                     class="absolute right-0 mt-2 w-60 bg-white border border-gray-100
                        rounded-xl shadow-lg opacity-0 scale-y-0
                        transition-all duration-300 origin-top z-50">

                    <ul th:if="${user != null}" class="py-2 text-gray-700">
                        <li>
                        <span th:text="'Admin ' + ${user.hoTen}"
                              class="block px-4 py-2 text-black font-semibold text-lg">
                        </span>
                        </li>
                        <li>
                            <a th:href="@{/logout}"
                               class="block px-4 py-2 hover:bg-pink-50 hover:text-pink-600">
                                <i class="mr-2 fa-solid fa-right-from-bracket"></i>Đăng xuất
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </nav>

    <script th:src="@{/js/user/header.js}"></script>
</div>
</body>
</html>
