<footer class="bg-gray-900 text-gray-300 py-6 mt-10">
    <div class="mx-auto px-16 flex flex-col md:flex-row items-center justify-between space-y-4 md:space-y-0">

        <div class="text-left md:text-left">
            <p class="text-sm">
                © 2025
                <a href="#" class="text-pink-400 hover:text-pink-500 font-medium">Phạm Xuân Hoàn</a>.
                All rights reserved.
            </p>
        </div>
        <div class="flex space-x-5 text-xl">
            <a href="https://github.com/Hoanpham29" target="_blank"
               class="hover:text-purple-500 transition"><i class="fab fa-github"></i></a>
            <a href="https://www.facebook.com/pham.hoan.186367" target="_blank"
               class="hover:text-blue-500 transition"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.linkedin.com/in/phamhoanit/" target="_blank"
               class="hover:text-blue-600 transition"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
</footer>
